// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  font-family: 'Alegreya Sans', sans-serif;
}

html{
  background-color: #FEF9F0;
}

.navbar-custom{
  background-color: #FF4040;
  padding-right: 50px;

  div ul li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-right:20px;
    padding-left: 20px;
  }

  div ul li a:hover{
    color: #FF4040;
    background-color: #FEF9F0;
    font-size: 20px;
    font-weight: bold;
    padding-right:20px;
    padding-left: 20px;
  }
}

.logotype{
  font-family: 'Fjalla One', sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 24px;
}

.centered{
  text-align: center;
}

.tall{
  height:550px;
}

.photo{
  max-height: 250px;
}

.white{
  color: white;
}
