
<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 centered">
      <%=image_tag('me.jpg', class: 'img-circle photo')%>
      <h1>Hello, world!</h1>
      <h2>My name is Brian Menard and I'm a Web Developer, (soon to be) based out of Chicago.  </h2>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>


<div class="container-fluid">
  <div class="row centered">
    <div class="col-xs-12 tall">
      <h1>Things I know:</h1>
    </div>
  </div>
</div>
